<p>A Voice For Leith Hill (AVFLH) are a group of local artists, musicians and environmentalists who joined together to protest peacefully and raise awareness concerning the planned oil drilling on Leith Hill due to start later this year.</p>

<p>The campaign originated at a picnic event on the planned drilling site in Bury Hill Woods in the autumn of 2015, where participants decided on a plan of peaceful action through a series of art exhibitions and concerts aimed at raising awareness about the pending senseless destruction of one of the South of England's most beautiful and cherished natural habitats.</p> 

<p>A travelling art exhibition celebrating the beauty of Leith Hill and highlighting the wildlife under threat commenced at The Star, Dorking in January 2016 where it remained until end of March. There was a successful opening event with local bands, guest speakers and many signatures added to our petition. During this time AVFLH also ran a stall in Dorking High Street with a big live street art demonstration.</p>

<p>In April the exhibition was warmly welcomed at the newly refurbished Plough Inn, Coldharbour with a jam-packed opening event including the village bands, A Voice For Leith Hill musicians and speakers, a speech from the LHAG chairman and a talk about the ecology under threat.</p> 

<p>From 6th August to 30th October 2016, the exhibition then moved to Leith Hill Place. On Saturday 13th August there was a family picnoic launch event that included live music, art activities and further talks. The following footage was taken during that day.</p>

<div id="avplayer" class="avplayer"></div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('avplayer', {
      height: '315',
      width: '560',
      videoId: 'j7m4eS60Dnk'
    });
  }
</script>