<h2>Breaking News: Leith Hill is saved!!!</h2>
<p>The Secretary of State for the Environment has deciced against signing off on the Forestry Commissions site lease extension to Europa, which expired at the start of September - as a result Europa are now pulling outt!!!!!
<ul>
  <li><a href="https://www.bbc.co.uk/news/uk-england-surrey-45409331">BBC: Europa Oil & Gas withdraws Surrey Hills test drilling bid</a></li>
  <li><a href="https://www.theguardian.com/business/2018/sep/04/michael-gove-oil-surrey-hills-defra-bury-hill-wood">The Guardian: Campaigners celebrate as oil drilling at Surrey Hills site is blocked</a></li>
  <li><a href="https://drillordrop.com/2018/09/04/environment-secretary-blocks-oil-drilling-in-the-surrey-hills-to-protect-ancient-woodland/">Drill or Drop: Environment Secretary blocks oil drilling in the Surrey Hills to protect ancient woodland</a></li>
</ul>
</p>

<hr>

<h2>Introduction</h2>
<p>In 2011, Surrey County Council refused permission for a planning application to explore for oil and gas at Leith Hill. The decision was appealed, and the subsequent public inquiry again rejected permission. That decision was then challenged in the High Court, which found favour with the applicant resulting in a second public inquiry. This unfortunately coincided with a change in the planning regulations, and as a result the government planning inspectorate decided to grant permission.</p>
<p>The <b>Government Planning Inspectorate</b>'s decision (ref: APP/B3600/A/11/2166561) is <a href="https://acp.planninginspectorate.gov.uk/ViewCase.aspx?caseid=2166561"><strong>here</strong></a>.

<hr class="spacer">

<h2>Environment Agency Permit Applications</h2>
<p>Despite extensive public and expert representations against the application, the EA <a href="https://www.gov.uk/government/publications/rh5-6hn-europa-oil-and-gas-limited-environmental-permit-issued" target="_blank"><strong>has now granted Europa permits for Leith Hill</strong>.
</p>

<hr class="spacer">

<h2>Surrey County Council Planning Applications</h2>
<p>Surrey County Council planning application register is <a href="http://planning.surreycc.gov.uk/planapplist.aspx"><strong>here</strong></a>.</p>
<p>The full list of required submissions (some of which, e.g. traffic management plan, are still pending) can be found listed in the approval conditions of planning inspectorate's decision, linked above.</p>
<p>Also, there is one further fencing application relating to 2016/0151 below concerning the installation of security fencing around borehole testing areas which Surrey County Council has confirmed as permitted development. This means the proposal does not require public consultation. We are currently awaiting direction from the Secretary of State as to whether an Environmental Impact Assessment is still needed and whether the application should be called in as a full, standard application.</p>
<table>
  <tr>
    <th>Ref</th>
    <th>Title</th>
    <th>Status</th>
    <th>Action Required</th>
  </tr>
  <tr>
    <td><a href="https://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202017/0212" class="submission">2017/0212</a></td>
    <td>Traffic Management Plan v2</td>
    <td>Withdrawn by Applicant</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="https://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202017/0027" class="submission">2017/0027</a></td>
    <td>Traffic Management Plan</td>
    <td>Withdrawn by Applicant</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="https://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202017/0024" class="submission">2017/0024</a></td>
    <td>Traffic Survey</td>
    <td>Published traffic survey results</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202017/0028" class="submission">2017/0028</a></td>
    <td>Noise monitoring plan</td>
    <td><em class="approved">Approved</em> by Delegated Powers 22/06/2017</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202017/0001" class="submission">2017/0001</a></td>
    <td>1.1 metre high reptile fence</td>
    <td>Withdrawn by Applicant</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0232" class="submission">2016/0232*</a></td>
    <td>Perimeter security fencing (identical to 2016/0170, but now extended for 52 weeks)</td>
    <td>52 week version of the 18 week application that was just quashed via Judicial Review, and has now been passed again.</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0194" class="submission">2016/0194</a></td>
    <td>Landscape and Restoration Plan</td>
    <td><em class="approved">Approved</em> by Planning Committee 22/03/2017</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0193" class="submission">2016/0193</a></td>
    <td>Pre and post development condition survey</td>
    <td><em class="approved">Approved</em> by Planning Committee 22/02/2017</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0170" class="submission">2016/0170*</a></td>
    <td>Perimeter security fencing (see also 2016/0232 above)</td>
    <td><em class="rejected">Rejected</em> (approval quashed via Judicial Review)</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0151" class="submission">2016/0151</a></td>
    <td>Groundwater and Surface Water Baseline Quality and Monitoring</td>
    <td><em class="approved">Approved</em> by Delegated Powers 21/10/2016</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0132" class="submission">2016/0132</a></td>
    <td>Ecological Monitoring and Management Plan</td>
    <td><em class="approved">Approved</em> by Delegated Powers 05/09/2017</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0104" class="submission">2016/0104</a></td>
    <td>Light Management Plan</td>
    <td><em class="approved">Approved</em> by Planning Committee 07/12/2016</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0103" class="submission">2016/0103</a></td>
    <td>Dust Suppression Scheme</td>
    <td><em class="approved">Approved</em> by Delegated Powers 08/12/2016</td>
    <td></td>
  </tr>
</table>

<p>* asterisked items denote new, additional planning applications rather than submissions concerning the fulfillment (or "discharge") of the conditions previously specified by the planning inspectorate.</p>