<h2>Environment Agency Permit Applications</h2>
<p>The EA's permit application register is <a href="https://www.gov.uk/government/collections/environmental-permitting-notices-of-applications-made"><strong>here</strong></a>. Nothing has been submitted to them so far.</p>

<hr class="spacer">

<h2>Surrey County Council Planning Applications</h2>
<p>Surrey County Council planning application register is <a href="http://planning.surreycc.gov.uk/planapplist.aspx"><strong>here</strong></a>. </p>
<table>
  <tr>
    <th>Ref</th>
    <th>Title</th>
    <th>Status</th>
    <th>Action Required</th>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0194" class="submission">2016/0194</a></td>
    <td>Landscape and Restoration Plan</td>
    <td>Public Consultation - ends 19/12; decision by Delegated Powers</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0193" class="submission">2016/0193</a></td>
    <td>Pre and post development condition survey</td>
    <td>Public Consultation - ends 19/12; decision by Delegated Powers</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0170" class="submission">2016/0170</a></td>
    <td>Perimeter security fencing</td>
    <td>decision by Planning Committee: provisionally scheduled for January meeting</td>
    <td>TBD (attendance at planning hearing)</td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0151" class="submission">2016/0151</a></td>
    <td>Groundwater and Surface Water Baseline Quality and Monitoring</td>
    <td><em class="approved">Approved</em> by Delegated Powers 21/10/2016</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0132" class="submission">2016/0132</a></td>
    <td>Ecological Monitoring and Management Plan</td>
    <td>Public Consultation formally finished; pending decision by Delegated Powers</td>
    <td>Objections may still be submitted for consideration</td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0104" class="submission">2016/0104</a></td>
    <td>Light Management Plan</td>
    <td>Going to Planning Committee for decision 07/12</td>
    <td></td>
  </tr>
  <tr>
    <td><a href="http://planning.surreycc.gov.uk/planappdisp.aspx?AppNo=SCC%20Ref%202016/0103" class="submission">2016/0103</a></td>
    <td>Dust Suppression Scheme</td>
    <td>Public Consultation formally finished; pending decision by Delegated Powers</td>
    <td>Objections may still be submitted for consideration</td>
  </tr>
</table>
