<div id="avplayer1" class="avplayer"></div>
<hr class="short">
<div id="avplayer2" class="avplayer"></div>
<hr class="short">
<div id="avplayer3" class="avplayer"></div>
<hr class="short">
<div id="avplayer4" class="avplayer"></div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('avplayer1', {
      height: '315',
      width: '560',
      videoId: 'tGLJidCBlvk'
    });
    player = new YT.Player('avplayer2', {
      height: '315',
      width: '560',
      videoId: 'lXvP-YZ3WNc'
    });
    player = new YT.Player('avplayer3', {
      height: '315',
      width: '560',
      videoId: 'rKEgpOScfV4'
    });
    player = new YT.Player('avplayer4', {
      height: '315',
      width: '560',
      videoId: 'j7m4eS60Dnk'
    });
  }
</script>